		asarUnpack: ["**/node_modules/@lydell/node-pty-win32-arm64/**/*"],
		files: [
			{
				from: "node_modules/@lydell/node-pty-win32-arm64",
				to: "node_modules/@lydell/node-pty-win32-arm64",
				filter: ["**/*"],
			},
		],
